.antd-custom-wrap {
	.ant-picker-calendar-full .ant-picker-panel .ant-picker-body {
		.ant-picker-content {
			overflow: hidden;
			border-radius: 12px;
			.ant-picker-calendar-date-content {
				height: 100px;
			}
			.ant-picker-calendar-date {
				margin: 0;
			}
			thead {
				tr {
					border-radius: 12px;
					overflow: hidden;
					background-color: #B32025;
				}
			}
			th {
				color: #fff;
				padding: 12px;
				text-align: center;
				font-weight: 500;
			}
		}
	}

	.ant-select-selection-overflow {
		flex-wrap: nowrap;
		overflow-x: hidden;
	}
	.ant-switch {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), linear-gradient(to right, #fff, #fff);
	}
	.ant-form-item-control-input {
		.ant-form-item-control-input-content {
			// custom input
			.ant-input,
			input {
				// padding: 8px 16px;
				border-radius: 8px;
				height: 36px;
			}
			.ant-input {
				&:focus {
					border: 1px solid #929292;
					box-shadow: none;
				}
			}
			input {
				width: 100%;
				border: 1px solid #d9d9d9;
				&:focus-visible {
					outline: none;
				}
			}
			// custom select
			.ant-select {
				.ant-select-selector {
					border: 1px solid #d9d9d9;
					border-radius: 8px;
					&:focus {
						border: 1px solid #929292;
						box-shadow: none;
					}
				}
				// .ant-select-clear {
				// 	transform: translateY(-35%);
				// }
			}
		}
	}

	// input search
	.ant-input-group-wrapper.ant-input-search {
		.ant-input-wrapper {
			height: 36px;
			&:hover {
				.ant-input {
					outline: 0px;
					box-shadow: none;
					border: 1px solid #b9b9b9 !important;
				}
				.ant-input-group-addon {
					.ant-input-search-button {
						outline: 0px;
						box-shadow: none;
						border: 1px solid #b9b9b9 !important;
					}
				}
			}

			&:focus {
				outline: 0px;
				box-shadow: none;
				border: 1px solid #9e9e9e;
			}
			.ant-input {
				height: 36px;
				border-top-left-radius: 6px;
				border-bottom-left-radius: 6px;
				box-shadow: none !important;
				border: 1px solid #d9d9d9;
			}
			.ant-input-group-addon {
				.ant-input-search-button {
					height: 36px;
					border-top-right-radius: 6px;
					border-bottom-right-radius: 6px;
					box-shadow: none !important;
					border: 1px solid #d9d9d9;
				}
			}
		}
	}

	// check box
	.ant-checkbox-wrapper {
		.ant-checkbox {
			.ant-checkbox-input {
				border-radius: 50%;
			}
			.ant-checkbox-inner {
				border-radius: 50%;
			}
			&:hover {
				.ant-checkbox-inner {
					border-color: #5db85c;
				}
			}
		}
		.ant-checkbox-checked {
			.ant-checkbox-inner {
				background-color: #5db85c;
				border-color: #5db85c;
				&::after {
					border-color: #ffffff;
				}
			}
			&::after {
				border: 0px;
			}
		}
	}

	// Tabs
	.ant-tabs-card .ant-tabs-content {
		height: fit-content;
		margin-top: -16px;
	}
	.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
		border: 0px;
		background: #cccccc;
		.ant-tabs-tab-btn {
			color: #ffffff;
		}
	}
	.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active {
		border: 0px;
		background: #ffffff;
		.ant-tabs-tab-btn {
			color: $primary-color;
		}
	}
	.ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
		padding: 16px;
		background: #fff;
	}
	.ant-tabs-card > .ant-tabs-nav::before {
		display: none;
	}
	.ant-tabs-card .ant-tabs-tab,
	[data-theme='compact'] > .ant-tabs-card .ant-tabs-tab {
		background: transparent;
		border-color: transparent;
	}
	.ant-tabs-card .ant-tabs-tab-active,
	[data-theme='compact'] > .ant-tabs-card .ant-tabs-tab-active {
		background: #fff;
		border-color: #fff;
	}
	#components-tabs-demo-card-top .code-box-demo {
		padding: 24px;
		overflow: hidden;
		background: #f5f5f5;
	}
	[data-theme='compact'] > .ant-tabs-card .ant-tabs-content {
		height: 120px;
		margin-top: -8px;
	}
	[data-theme='dark'] > .ant-tabs-card .ant-tabs-tab {
		background: transparent;
		border-color: transparent;
	}
	[data-theme='dark'] #components-tabs-demo-card-top .code-box-demo {
		background: #000;
	}
	[data-theme='dark'] > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
		background: #141414;
	}
	[data-theme='dark'] > .ant-tabs-card .ant-tabs-tab-active {
		background: #141414;
		border-color: #141414;
	}

	// custom rate
	.ant-rate-star:not(:last-child) {
		margin-right: 4px;
	}

	// collapse
	.ant-collapse {
		border: none;
		background-color: #fff;
		.ant-collapse-item {
			margin: 0 8px 8px 8px;
			border: 1px solid #d9d9d9;
			border-radius: 8px;
			.ant-collapse-header {
				background-color: #1b74e81f;
				border-radius: 8px;
			}
			.ant-collapse-content {
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
			}
			&.ant-collapse-item-active {
				.ant-collapse-header {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
		}
	}

	// date pick
	.ant-picker {
		border-radius: 8px;
		height: 36px;
		.ant-picker-range-separator {
			line-height: 0;
		}
		.ant-picker-input {
			input {
				border: none;
			}
		}
		&:hover {
			border-color: #929292;
			border-right-width: 1px;
		}
	}
	.ant-picker-focused {
		border: 1px solid #929292;
		box-shadow: none;
	}

	// Select
	.ant-select {
		.ant-select-selector {
			&:hover {
				border-color: #929292;
			}
		}
	}

	// LIST
	.ant-list.ant-list-split {
		.ant-list-items {
			.ant-list-item {
				border-bottom: none;
			}
		}
	}

	// Modifire Antd
	.ant-list-pagination {
		.ant-pagination {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.ant-pagination-item-link {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			li {
				border-radius: 4px !important;
				border-color: $primary-color;
				margin-top: 1px;
				&.ant-pagination-item-active {
					margin-top: 1px;
				}

				&.ant-pagination-item-active a {
					color: $primary-color;
				}

				a,
				button {
					border-radius: 4px !important;
				}
			}
			.ant-pagination-item-link {
				&:hover {
					color: $primary-color;
				}
			}
		}
	}
	.custom-form-row-warning {
		.ant-row {
			align-items: center;
			flex-direction: unset;
			flex-flow: unset;
		}
		.ant-form-item-label {
			width: auto;
			padding: 0;
		}
		.ant-form-item-label > label {
			width: 100px;
		}
	}
}
.custom-tag-ant {
	.ant-tag {
		border-radius: 16px;
		font-weight: 500;
	}
}
.ant-select {
	&.ant-select-multiple {
		&.ant-select-allow-clear {
			.ant-select-selector {
				@apply pr-0;
			}
		}
	}
	.ant-select-selector {
		border: 1px solid #d9d9d9;
		@apply overflow-hidden mr-8 p-0 pl-1 rounded-lg;
		&:focus {
			border: 1px solid #929292;
			box-shadow: none;
		}
	}
	.ant-select-selection-overflow {
		@apply flex-nowrap;
	}
	.ant-select-clear {
		@apply flex items-center justify-center;
	}
	.ant-select-selection-item-remove {
		@apply flex items-center justify-center;
	}
	.ant-select-multiple {
		.ant-select-selection-placeholder {
			@apply left-[7px];
		}
	}
}
.ant-picker-dropdown {
	.ant-picker-panel-container {
		.ant-picker-footer {
			.ant-picker-ok {
				button.ant-btn {
					border: 1px solid $primary-color;
					border-radius: 4px;
					color: $primary-color;
					background-color: #fff;
					&:focus {
						border: 1px solid $primary-color;
						border-radius: 4px;
						color: #fff;
						background-color: $primary-color;
					}
					&:hover {
						border: 1px solid $primary-color;
						border-radius: 4px;
						color: #fff;
						background-color: $primary-color;
					}
				}
			}
		}
	}
}

.anticon {
	@apply flex items-center justify-center h-full;
}

.ant-input[disabled] {
	@apply text-[rgba(0,0,0,1)];
}

// custom tinyMCE body
.mce-content-body {
	min-height: 500px;
	padding: 8px 16px;
	&:focus-visible {
		outline: none;
	}
	border: 1px solid #cccccc;
	border-radius: 4px;
}
.ant-pagination-options {
	display: none;
}
.ant-table-header {
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
}
.form-disable {
	.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector,
	.ant-input[disabled] {
		color: rgba(0, 0, 0, 0.65);
	}
}

.wrapper-schedule-calender .ant-collapse-expand-icon {
	visibility: hidden !important;
	width: 0 !important;
}
.wrapper-schedule-calender .ant-collapse-header {
	padding: 0 !important;
}

.wrapper-schedule-calender .ant-collapse-content-box {
	padding: 2px 6px !important;
}
