.wrapper {
	:global {

		.ant-table-thead {
			tr {
				th {
					@apply bg-primary;
					padding: 10px 16px;
					color: white;
					border-bottom: none;
					white-space: nowrap;
				}
			}
		}
		.ant-table-body {
			&::-webkit-scrollbar-track {
				border-radius: 10px;
				background-color: white;
			}

			&::-webkit-scrollbar {
				border: none;
				width: 8px;
				height: 8px;
				background-color: white;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background-color: #e4e4e4;
			}

			&::-webkit-scrollbar-thumb:hover {
				background-color: #92979c;
			}
		}
		.ant-table-tbody {
			max-height: 435px;
			tr {
				td {
					padding: 8px 16px;
				}
				&:hover {
					.ant-table-cell {
						background: #dedede;
					}
				}
			}

		}
	}
}
