// Page Class List
.wrapper-class {
	.list-ver {
		li {
			@apply mb-1;
		}
	}
	.ant-card {
		background: none;
	}
	.course-list-content {
		.content-class {
			display: grid;
			gap: 1rem;
			grid-template-columns: repeat(4, minmax(0px, 1fr));
			@include desktop {
				grid-template-columns: repeat(3, minmax(0px, 1fr));
			}

			@include large {
				grid-template-columns: repeat(2, minmax(0px, 1fr));
			}

			@include mobilem {
				grid-template-columns: repeat(1, minmax(0px, 1fr));
			}

			.item {
				border-radius: 8px;
				background: #fff;
				.inner-item {
					position: relative;
					.header {
						padding: 16px;
						position: absolute;
						z-index: 2;
						width: 100%;
						.header-inner {
							@include flex(flex-start, space-between);

							.title {
								width: 15ch;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								max-width: 15ch;
								> a {
									width: max-content;
								}
							}
							.action {
								width: 30px;
								height: 30px;
								border-radius: 50%;
								@include flex(center, center);
								text-align: center;
								background: #5599f1;
							}
						}
					}
					.image {
						width: 100%;
						height: 193px;
						border-radius: 10px;
						margin-bottom: 10px;
					}
					.content-body {
						padding: 0 16px;
						padding-bottom: 16px;
						.title {
							height: 44px;
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
						}
						.inner-body-top {
							display: grid;
							gap: 1rem;
							grid-template-columns: repeat(2, minmax(0px, 1fr));
							font-size: 12px;
						}
						.inner-body {
							margin-top: 1rem;
							font-size: 12px;
							@include flex(center, flex-start);
							flex-wrap: wrap;
							.i {
								width: 50%;
								@include flex(center, flex-start);
								margin-bottom: 10px;
								.icn {
									@include flex(center, center);
									margin-right: 2px;
									color: #1b73e8;
								}
							}
						}
					}
					.line {
						border-bottom: 1px dashed #eaeaea;
					}
					.footer-s {
						padding: 16px;
						@include flex(center, space-between);
						font-size: 12px;
						.item {
							@include flex(center, center);
							margin-right: 5px;
							.icon {
								color: #1b73e8;
								@include flex(center, center);
								margin-right: 2px;
							}
						}
					}
				}
			}
		}
		.wrapper-img {
			@apply w-[105px];
		}
		.ant-list-item {
			@apply items-baseline;
		}
		.ant-list-item-meta {
			@apply flex-wrap;
		}
		.ant-list-item-meta-avatar {
			@apply mt-[6px];
		}
		.ant-list-item-meta-title {
			@apply w-[calc(100%-100px)] text-[17px];
			a {
				@apply text-tw-primary;
			}
		}
		.content-body {
			.list-ver {
				@apply list-none pl-0;
				li {
					@apply flex items-center text-[#505050];
					span:first-child {
						@apply min-w-[100px] mr-[15px] font-medium;
					}
				}
			}

			.list-hor {
				@apply mt-[5px] pl-[0];
				li {
					@apply inline-block text-[#505050] mr-5 text-xs;
				}
			}
		}
		@include max-media(1023px) {
			.course-list-content {
				.wrapper-img {
					@apply w-[105px];
				}
				.ant-list-item-meta-avatar {
					@apply mt-0 mb-[6px];
					.tag {
						@apply ml-0;
					}
				}
				.ant-list-item-meta-title {
					@apply w-full;
				}
			}
		}
	}
	@include max-media(767px) {
		.ant-card-body {
			@apply p-4;
		}
		.course-list-content {
			.wrapper-img {
				@apply w-[130px];
			}
			.ant-list-item-meta-avatar {
				@apply mr-0 w-full;
				.wrapper-img {
					@apply items-center;
					.tag {
						@apply w-full;
					}
				}
			}
			.ant-list-item-meta-content {
				@apply w-full mt-3;
			}
			.ant-list-item {
				@apply relative;
				.wrapper-btn-class {
					@apply absolute top-[9px] right-0;
				}
			}
		}
	}
}
.wrapper-class-detail {
	.ant-tabs-nav-list {
		padding: 16px 0;
	}
}
.wrapper-detail-class-tutoring {
	.ant-tabs-nav-list {
		padding: 16px 0;
	}
}
.custom-tab-class-list {
	.ant-collapse-header {
		display: flex !important;
		align-items: center !important;
		.ant-collapse-arrow {
			display: flex !important;
			align-items: center;
		}
	}
}

// Page Create Class
.create-class {
	.wrapper-calendar-class {
		@apply flex items-center justify-between;
	}
	.ant-picker-cell-selected {
		@apply z-0;
		background: none;
	}
	.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
		z-index: 0;
		background: none;
	}
	.btn-show-schedule {
		@apply absolute;
	}
	.popover-btn-create-class {
		@apply hidden;
	}
	@media (max-width: 767px) {
		.wrapper-calendar-class {
			@apply flex-col gap-2;
		}
		.wrapper-btn-create-class-desktop {
			@apply hidden;
		}
		.popover-btn-create-class {
			@apply block;
		}
	}
}

.wrapper-detail-class {
	.ant-tabs {
		.ant-tabs-nav-wrap {
			@apply bg-tw-white rounded-lg;
			.label-tab {
				@apply flex items-center justify-between w-full text-base;
				svg {
					@apply text-xl;
				}
			}
		}
	}
}
