.feedback-student-title {
	@apply flex items-center;

	.fb-student-avatar {
		@apply object-cover h-[50px] w-[50px] rounded-full mr-[8px];
	}

	.fb-student-name {
		@apply font-[600] text-[16px];
	}
}

// detail page
.feedback-student-detail {
	display: flex;
	justify-content: start;
	gap: 16px;

	@include max-media(650px) {
		display: block;
	}

	.information-block {
		width: 25%;
		background-color: #fff;
		padding: 16px;
		border-radius: 8px;

		@apply shadow-sm;

		@include max-media(1200px) {
			width: 35%;
		}

		@include max-media(650px) {
			width: 100%;
			margin-bottom: 16px;
		}

		.horizontal {
			border-bottom: 1px solid #e8eded;
		}

		.back-button {
			display: flex;
			justify-content: start;
			gap: 10px;
			align-items: center;
			cursor: pointer;
			font-weight: 500;
			width: fit-content;
			margin-bottom: 8px;
		}

		.avatar {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-bottom: 24px;

			img {
				object-fit: cover;
				width: 120px;
				height: 120px;
			}
		}

		.name {
			text-align: center;
			font-size: 1.4rem;
			font-weight: 700;
		}

		.user-name {
			text-align: center;
			font-size: 1rem;
			font-weight: 500;
			color: #2e3e3f;
			padding: 6px 0px 16px 0;
		}

		.actions {
			padding: 16px 0;
			display: flex;
			flex-direction: column;
			gap: 4px;
		}

		.contact {
			.title {
				margin-top: 16px;
				font-size: 1.2rem;
			}

			.item {
				display: flex;
				gap: 8px;
				justify-content: start;
				align-items: center;
				padding: 8px 0;

				.icon {
					font-size: 16px;
					background-color: #f1f3f4;
					border-radius: 50%;
					color: #2e3e3f;
					width: 32px;
					height: 32px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: auto 0;
				}

				.text {
					.title {
						margin-top: 0;
						font-size: 14px;
						font-weight: 500;
					}
				}
			}
		}
	}

	.feedback-block {
		width: 75%;
		background-color: #fff;
		border-radius: 8px;
		padding: 16px;

		@apply shadow-sm;

		@include max-media(1200px) {
			width: 65%;
		}

		@include max-media(650px) {
			width: 100%;
		}

		.detail-information {
			&>.time {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.item-wrap {
					font-size: 0.8rem;
					font-weight: 500;
					display: flex;
					justify-content: start;
					align-items: center;
					gap: 8px;

					.icon {
						color: #a8a9b5;
					}

					.created-on {
						margin-top: 3px;
					}
				}
			}

			.title-feedback {
				font-size: 2rem;
				padding: 24px 0 14px 0;
			}

			.content-feedback {
				font-size: 1rem;
				margin-bottom: 24px;
			}
		}

		.feedback-reply-wrap {
			width: 100%;

			.wrap-content-reply {
				border-left: 3px solid #B32025;
				padding-left: 20px;

				display: flex;
				gap: 8px;

				.item-reply {
					display: flex;
					justify-content: start;
					align-items: start;
					gap: 8px;
					width: 100%;
					padding: 16px 0 16px 0px;

					&>.left {
						flex: 0 1 auto;

						.avatar {
							img {
								width: 40px;
								height: 40px;
								border-radius: 50%;
								border: 1px solid #e8eded;
							}
						}
					}

					&>.right {
						flex: 1 1 auto;

						.information {
							display: flex;
							justify-content: space-between;
							align-items: start;

							&>.left {
								.name {
									font-size: 1rem;
									font-weight: 500;
								}
							}

							&>.right {
								font-weight: 500;
								font-size: 0.8rem;
								color: #bec1c0;
							}
						}

						.content {
							font-size: 1.1rem;
							font-weight: 500;
						}
					}
				}
			}
		}
	}
}

.custom-rating {
	.ant-rate-star-zero {
		.ant-rate-star-second {
			color: #cfcfcf !important;
		}
	}
}