$blue: #1986da;
$black: black;
$light-blue: #f2f8fc;
$normal-blue: #4cbbb9;
$orange: #ff7c38;
$white: white;
$red: #e21b1b;

$border-primary: 1px solid #eaeaea;

$primary-color: #002456;
$primary-color-dark: #0365c0;
$primary-color-light: #408cf0;
$primary-color-lightest: #99bff1;
$primary-hover: #1369da;

$second-color: #0346a8;
$second-color-light: #1250ad;
$second-hover: #003f9e;

$danger-hover: #e7cfcf;
$success-hover: #d0e7e2;
$warning-hover: #f7f1e0;
$color-success: #32c6a4;
$color-success-light: #d5faf1;

$primary-text: #2d2d2d;

$fs-12: 1.2vw;

//text-invoice
$text-mute: #bfbfcb;
$text-primary: #3f4254;
$text-report: #162b5b;

// LOADING COLOR
$color-top: #002456;
$color-left: #1767cf;
$color-right: #3c85e3;

$mobile: 480px;
$mobile-m: 600px;
$tablet: 768px;
$large: 1024px;
$desktop: 1400px;
